# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
exampleSite/resources/_gen/images/media/albums/demo/chris-montgomery-smgTvepind4-unsplash_hu3de7c38bc09fe4bb33ec1fc222105033_3160894_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/dan-gold-4_jhDO54BYg-unsplash-f_huadab9e2a6298a93203535960a6157483_3673790_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/fotografierende-333oj7zFsdg-unsplash_hu3bb23653d32c408eefe8a3992b21fbd2_986191_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/glenn-carstens-peters-npxXWgQ33ZQ-unsplash_hu4fbee8b709aacc4ebfd59bb0713b9f48_588975_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/joseph-gonzalez-zcUgjyqEwe8-unsplash_hu94ef7cc5936c0328898d9575aad95082_404249_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/matthew-osborn-wMRIcT86SWU-unsplash-l_hu7424330660c8095403b908ab762c7d42_6675422_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/priscilla-du-preez-K8XYGbw4Ahg-unsplash_hu9681d6bee55a5018cc404b0ddc14c7a7_1398488_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/post/writing-technical-content/featured_huc72159e0fc0d14b85f60d34436a630f0_266353_150x0_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/post/writing-technical-content/featured_huc72159e0fc0d14b85f60d34436a630f0_266353_2560x2560_fit_q75_lanczos.jpg
exampleSite/resources/_gen/images/publication/conference-paper/featured_hu3d03a01dcc18bc5be0e67db3d8d209a6_312700_808x455_fill_q75_lanczos_smart1.jpg
exampleSite/resources/_gen/images/publication/conference-paper/featured_hu3d03a01dcc18bc5be0e67db3d8d209a6_312700_808x455_fill_q75_lanczos_smart1.jpg
exampleSite/resources/_gen/images/post/writing-technical-content/featured_huc72159e0fc0d14b85f60d34436a630f0_266353_2560x2560_fit_q75_lanczos.jpg
exampleSite/resources/_gen/images/post/writing-technical-content/featured_huc72159e0fc0d14b85f60d34436a630f0_266353_150x0_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/priscilla-du-preez-K8XYGbw4Ahg-unsplash_hu9681d6bee55a5018cc404b0ddc14c7a7_1398488_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/matthew-osborn-wMRIcT86SWU-unsplash-l_hu7424330660c8095403b908ab762c7d42_6675422_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/joseph-gonzalez-zcUgjyqEwe8-unsplash_hu94ef7cc5936c0328898d9575aad95082_404249_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/glenn-carstens-peters-npxXWgQ33ZQ-unsplash_hu4fbee8b709aacc4ebfd59bb0713b9f48_588975_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/fotografierende-333oj7zFsdg-unsplash_hu3bb23653d32c408eefe8a3992b21fbd2_986191_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/dan-gold-4_jhDO54BYg-unsplash-f_huadab9e2a6298a93203535960a6157483_3673790_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/chris-montgomery-smgTvepind4-unsplash_hu3de7c38bc09fe4bb33ec1fc222105033_3160894_0x190_resize_q75_lanczos.jpg
